<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">사용자 관리</title>
</head>

<div layout:fragment="content" class="container py-5 flex-grow-1">
    <div class="text-center mb-5">
        <h1 class="h2 fw-bold">회원 목록</h1>
        <hr>
    </div>
    <div class="table-responsive shadow rounded">
        <table class="table table-striped align-middle">
            <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>생년월일</th>
                <th>포인트</th>
                <th>상태</th>
                <th>가입일</th>
                <th>마지막 로그인</th>
                <th>등급</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userPhoneNumber}"></td>
                <td th:text="${user.userEmail}"></td>
                <td th:text="${user.userBirth}"></td>
                <td th:text="${user.userPoint}"></td>
                <td th:text="${user.userStatus}"></td>
                <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${user.lastLoginAt != null ? #temporals.format(user.lastLoginAt, 'yyyy-MM-dd HH:mm') : 'N/A'}"></td>
                <td th:text="${user.userGradeName}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            <li class="page-item" th:classappend="${page.number / 10 eq 0} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/users(page=${(page.number / 10 * 10) - 10}, size=${page.size})}" aria-label="Previous 10">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/users(page=${page.number - 1}, size=${page.size})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(page.number / 10 * 10, (page.number / 10 * 10) + 9 < page.totalPages ? (page.number / 10 * 10) + 9 : page.totalPages - 1)}"
                th:classappend="${i == page.number} ? 'active'">
                <a class="page-link" th:href="@{/admin/users(page=${i}, size=${page.size})}" th:text="${i + 1}">1</a>
            </li>

            <li class="page-item" th:classappend="${page.number eq page.totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/users(page=${page.number + 1}, size=${page.size})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${(page.number / 10 * 10) + 9 >= page.totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/users(page=${(page.number / 10 * 10) + 10}, size=${page.size})}" aria-label="Next 10">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="d-flex justify-content-end mt-4">
        <a th:href="@{/admin/users/bulk/status}" class="me-2">
            <button type="button" class="btn btn-success">유저 상태 변경 테스트 버튼</button>
        </a>
        <a th:href="@{/admin}" class="btn btn-secondary">관리자 페이지</a>
    </div>
</div>

</html>
