<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">관리자 페이지</title>
</head>

<div layout:fragment="content" class="container py-5 flex-grow-1">
    <div class="text-center mb-5">
        <h1 class="h2 fw-bold">관리자 페이지</h1>
        <hr>
    </div>
    <ul class="list-group mb-4">
        <li class="list-group-item">
            <a href="/admin/users" class="text-decoration-none text-primary">유저 관리</a>
        </li>
        <li class="list-group-item">
            <a href="/admin/books" class="text-decoration-none text-primary">도서 관리</a>
        </li>
        <li class="list-group-item">
            <a href="/admin/categories" class="text-decoration-none text-primary">카테고리 관리</a>
        </li>
        <li class="list-group-item">
            <a href="/admin/tags" class="text-decoration-none text-primary">태그 관리</a>
        </li>
        <li class="list-group-item">
            <a href="/admin/pointtype" class="text-decoration-none text-primary">포인트 적립 규정 관리</a>
        </li>
        <li class="list-group-item">
            <a class="text-decoration-none text-primary" href="/admin/coupons">쿠폰 관리</a>
        </li>
        <li class="list-group-item">
            <a href="/admin/orders" class="text-decoration-none text-primary">주문 관리</a>
        </li>

    </ul>
</div>

</html>
