<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>태그 목록</title>
</head>
<body>
    <h1>전체 태그</h1>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>태그 ID</th>
            <th>태그 이름</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${tags}">
            <td th:text="${tag.tagId}"></td>
            <td th:text="${tag.tagName}"></td>
            <td>
                <form th:action="@{/book-tags/{id}(id=${tag.tagId})}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>

    <div>
        <a th:if="${page.hasPrevious()}" th:href="@{/book-tags(page=${page.number - 1})}">이전</a>
        <span>현재 페이지: <span th:text="${page.number + 1}">1</span></span>
        <a th:if="${page.hasNext()}" th:href="@{/book-tags(page=${page.number + 1})}">다음</a>
    </div>
    <a href="/book-tags/new">태그 생성하기</a>
</body>
</html>