<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">개인정보 수정</title>
</head>
<div layout:fragment="content" class="container py-5">
    <div class="text-center mb-5">
        <h1 class="h2 fw-bold">개인정보 수정</h1>
        <hr>
    </div>

    <!-- 개인정보 수정 form -->
    <form id="editForm" method="post" th:action="@{/mypage/edit}">
        <div th:if="${userType == 'LOCAL'}" class="mb-3">
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <label for="password" class="form-label">현재 비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="현재 비밀번호 입력" required/>
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label">이름</label>
            <input type="text" class="form-control" id="userName" name="userName" th:value="${user.userName}" required>
        </div>
        <div class="mb-3">
            <label for="userPhoneNumber" class="form-label">휴대폰 번호</label>
            <input type="text" class="form-control" id="userPhoneNumber" name="userPhoneNumber" placeholder="010-1234-5678" th:value="${user.userPhoneNumber}" required>
        </div>
        <div class="mb-3">
            <label for="userEmail" class="form-label">이메일</label>
            <input type="email" class="form-control" id="userEmail" name="userEmail" th:value="${user.userEmail}" required>
        </div>
        <div class="mb-3">
            <label for="userBirth" class="form-label">생년월일</label>
            <input type="date" class="form-control" id="userBirth" name="userBirth" th:value="${user.userBirth}" required>
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary">수정하기</button>
    </form>

    <div class="d-flex justify-content-end mt-4">
        <a href="/mypage" class="btn btn-secondary me-2">마이페이지로 돌아가기</a>
    </div>
</div>
</html>