<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">비밀번호 변경</title>
</head>
<div layout:fragment="content" class="container py-5">
    <div class="text-center mb-5">
        <h1 class="h2 fw-bold">비밀번호 변경</h1>
        <hr>
    </div>
    <form th:action="@{/mypage/edit}" method="post">
        <div class="mb-3">
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <label for="password" class="form-label">현재 비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="현재 비밀번호 입력" required>
        </div>
        <div class="mb-3">
            <label for="userPassword" class="form-label">수정할 비밀번호</label>
            <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="수정할 비밀번호 입력" required>
        </div>
        <div class="mb-3">
            <label for="userPasswordConfirm" class="form-label">수정할 비밀번호 확인</label>
            <input type="password" class="form-control" id="userPasswordConfirm" name="userPasswordConfirm" placeholder="수정할 비밀번호 확인" required>
        </div>
        <div class="mb-3">
            <input type="hidden" class="form-control" id="userName" name="userName" th:value="${user.userName}" required>
        </div>
        <div class="mb-3">
            <input type="hidden" class="form-control" id="userPhoneNumber" name="userPhoneNumber" th:value="${user.userPhoneNumber}" required>
        </div>
        <div class="mb-3">
            <input type="hidden" class="form-control" id="userEmail" name="userEmail" th:value="${user.userEmail}" required>
        </div>
        <div class="mb-3">
            <input type="hidden" class="form-control" id="userBirth" name="userBirth" th:value="${user.userBirth}" required>
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary">변경하기</button>
    </form>
    <div class="d-flex justify-content-end mt-4">
        <a href="/mypage" class="btn btn-secondary me-2">마이페이지로 돌아가기</a>
    </div>
</div>
<div layout:fragment="scripts">
<script>
    document.getElementById('submitBtn').addEventListener('click', function(event) {
        const password = document.getElementById('userPassword').value;
        const confirmPassword = document.getElementById('userPasswordConfirm').value;

        if (password !== confirmPassword) {
            event.preventDefault();
            alert('수정할 비밀번호와 비밀번호 확인이 일치하지 않습니다.');
        }
    });
</script>
</div>
</html>