<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">내 등급</title>
</head>
<div layout:fragment="content" class="container py-5 flex-grow-1">
    <div class="text-center mb-4">
        <h1 class="h2 fw-bold">내 등급</h1>
        <hr>
    </div>

    <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title mb-3">등급 정보 상세</h5>
            <dl class="row">
                <dt class="col-sm-4">내 등급:</dt>
                <dd class="col-sm-8" th:text="${user.userGradeName}"></dd>

                <dt class="col-sm-4">내 등급 혜택:</dt>
                <dd class="col-sm-8">
                    <span th:text="${pointType.typeName}"></span>
                    <span th:text="' (적립률: ' + ${pointType.earningRate} + '%)'"></span>
                </dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-4">
        <form th:action="@{/mypage/grade/update}" method="post">
            <button type="submit" id="submitBtn" class="btn btn-primary">변경하기-테스트 시 사용</button>
        </form>
        <a href="/mypage" class="btn btn-secondary">마이페이지로 돌아가기</a>
    </div>
</div>
</html>