<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카테고리 생성</title>
</head>
<body>
  <h1>카테고리 생성</h1>
    <form action="/categories" method="post">
      <div>
        <label for="categoryName">카테고리 이름:</label>
        <input type="text" id="categoryName" name="categoryName" required />
      </div>

      <div>
        <label for="parentId">부모 카테고리 ID :</label>
        <input type="number" id="parentId" name="parentId" />
      </div>

      <div>
        <button type="submit">카테고리 생성</button>
      </div>
    </form>
</body>
</html>