<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>카테고리 목록</title>
</head>
<body>
  <h1>전체 카테고리</h1>
    <table border="1" cellpadding="8" cellspacing="0">
      <thead>
      <tr>
        <th>카테고리 ID</th>
        <th>카테고리 이름</th>
        <th>부모 카테고리 ID</th>
        <th>부모 카테고리 이름</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="category : ${categories}">
        <td>
          <a th:href="@{/admin/categories/{id}(id=${category.categoryId})}"
             th:text="${category.categoryId}"></a>
        </td>
        <td th:text="${category.categoryName}"></td>
        <td th:text="${category.parentId}"></td>
        <td th:text="${category.parentCategoryName}"></td>
        <td>
          <form th:action="@{/admin/categories/{id}/edit(id=${category.categoryId})}" method="get">
            <button type="submit">수정</button>
          </form>
        </td>
        <td>
          <form th:action="@{/admin/categories/{id}(id=${category.categoryId})}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <a th:if="${page.hasPrevious()}" th:href="@{/admin/categories(page=${page.number - 1}, size=${page.size})}">이전</a>
      <span>현재 페이지: <span th:text="${page.number + 1}">1</span></span>
      <a th:if="${page.hasNext()}" th:href="@{/admin/categories(page=${page.number + 1}, size=${page.size})}">다음</a>
    </div>

    <a th:href="@{/admin/categories/new}" class="btn">카테고리 생성하기</a><br>
    <a th:href="@{/admin}" class="btn">관리자 페이지</a>
</body>
</html>